/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

/* Cabeçalho */
header {
    background-color: #5a189a; /* roxo açaí */
    color: white;
    text-align: center;
    padding: 20px;
}

/* Menu */
nav {
    background-color: #3c096c;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Conteúdo principal */
main {
    max-width: 1000px;
    margin: 30px auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
}


/* Seções */
section {
    margin-bottom: 30px;
}

section h2 {
    color: #5a189a;
    margin-bottom: 10px;
}

/* Lista de produtos */
ul {
    list-style: square;
    margin-left: 20px;
}

/* Rodapé */
footer {
    background-color: #3c096c;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
/* Galeria de imagens */
#galeria {
    margin-bottom: 30px;
}

.galeria {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.galeria img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
h2 {
    text-align: center;
}
#sobre p {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}
#produtos ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

#produtos li {
    background-color: #f0e7ff;
    padding: 10px 20px;
    border-radius: 20px;
    list-style: none;
}
#contato p {
    text-align: center;
}
